<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<title>First JSF Application</title>
</h:head>

<h:body>
	<h:form>
		Verify that you see a textfield and a button below. <br/>
		<label>TextField</label>
		<h:inputText/><br/>
		<label>Button</label><br/>
		<h:commandButton value="Click me nothing will happen." />
	</h:form>
</h:body>
</html>
